.section-hero .hero__caption h1 {
    font-size: 1.8rem;
}

.hero__caption {
    max-width: 34rem;
    margin: 0 auto;
}

.hero__caption h1 {
    font-size: 3rem;
    line-height: 3.75rem;
    color: #fff;
    font-weight: 700;
    margin-bottom: 1.25rem;
    text-shadow: 0 0 0.9375rem rgba(0, 0, 0, 0.2);
}

@media (max-width: 991px) {
    .hero__caption h1 {
        font-size: 36px;
        line-height: 48px;
    }
}

@media (max-width: 767px) {
    .hero__caption h1 {
        font-size: 28px;
        line-height: 38px;
    }
}